@model MovieDBTest.Models.UserLoginViewModel


<h1>Create new User</h1>

<div class="loginBox">

    <form asp-controller="Home" asp-action="CreateUser" method="post">
        <input class="userInput" type="text" placeholder="Username" required="required" asp-for="@Model.User.Name" />
        <br />
        <input class="userInput" type="password" placeholder="Password" required="required" asp-for="@Model.User.Password" />
        <br />
        <input class="submitButton" type="submit" />
    </form>

    <div>@Model.NonTechnicalError.Info</div>
</div>